fastapi
fastmcp
httpx
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-mcp-adapters
langchain-qdrant
langchain-text-splitters
langgraph
openpyxl
pandas
pdfplumber
pydantic
python-docx
python-dotenv
python-pptx
qdrant-client
requests
sentence-transformers
unstructured
uvicorn
